// Main application page

/ ----------------------------------
/ Product Structure Notes:
/ ----------------------------------
/ Features
/    Main Screen shows one task
/      -> Complete
/      -> Postpone & Postpone to Date
/      -> Add Notes
/      -> Add New Task w/ priority
/    List
/      -> Order Items
/      -> Delete Items
/      -> Edit Items
/      -> Complete Items
/      -> Add Items
/    Manage All Lists
/      -> Trello List Style layout
/    Notifications
/      -> Add notification if item has 
/            (been postponed 3+ times or past due date)